html, body {
  background: #fff;
}

/*HEADER-LEFT*/
.header {
  position: fixed;
  background: #96d2ec;
  width: 100%;
}

.header-left {
  padding-left: 0;
  margin-bottom: 0;
}

.header-left ul {
  text-decoration: none;
}

.header-left li {
  display: inline-block;
  color: #fff;
}

.headshot {
  border-radius: 40%;
  margin-top: 6px;
  width: 60px;
  margin: 10px 10px 10px 0;
}

.title {
  font-size: 1.7em;
}

/*HEADER-RIGHT*/
.header-right {
  padding-top: 30px;
}

.header-right ul {
  list-style: none;
  margin-top: 25px;
  float: right;
}

.header-right li {
  display: inline-block;
  padding-left: 20px;
}

.header-right a {
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

.header-right a:hover {
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}

/*MAIN*/
.main {
  vertical-align: top;
  padding: 30px 0;
  height: 450px;
  padding: 100px 0;
}

.main h2 {
  font-size: 3em;
  font-weight: 700;
  padding-top: 75px;
  color: #FF7F50;
}

.main p {
  font-size: 2em;
  color: #FF7F50;
  max-width: 500px;
}


/*SUPPORTING*/
.supporting {
  text-align: center;
  padding: 20px;
  color: #808080;
}

.supporting img {
  max-width: 150px;
}

.supporting img:hover {
  color: #fff;
}

.supporting a {
  color: #808080;
  text-decoration: none;
}

.supporting a:hover {
  text-decoration: none;
  color: #96d2ec;
  cursor: pointer;
}

.supporting h3 {
  margin: 15px 0 25px;
  text-transform: uppercase;
  font-size: 24px;
}

/*FOOTER*/
.footer {
  color: #fff;
  height: 30px;
  width: 100%;
  font-size: 1em;
}

.footer{
    position:fixed;
    height:40px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    background-color: #96d2ec;
}

.footer .copy {
  float: right;
  margin: 10px 0 10px;
}
